@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Programador fullstack é aquele que atua em várias partes do projeto (back-end, front-end, banco de dados) e para isso pode usar várias tecnologias. </p>
