@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua Laercio Quataroli <br />
    Pederneiras, SP17280-000<br />
    <abbr title="Telefone">P:</abbr>
    (14)99751-5398
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Support@example.com">wajobstaribizer@paschoalotto.com.br</a><br />

</address>
